<div style="width:70%; margin-left: auto; margin-right: auto;">
<h1>Settings</h1>
<!-- flash message div -->
<div class="flash-message" ng-if="flash" ng-show = "!changePasswordModal">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>
<div class="row">
    <div class="col-md-3">
        <br/>
        <div class="avatar-circle-big" ng-style="bgColor"><span class="initials-big noselect">{{initials}}</div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1 hidden-md hidden-s hidden-lg"><hr class="hr"></div>
    <div class="form-container col-md-6">
            <!--<div class="form-group">
                <label for="role">Role</label>
                <input type="text" id="role" class="form-control" ng-model="vm.user.role" required readonly />
            </div>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" ng-model="vm.user.email" required />
            </div>
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" class="form-control" ng-model="vm.user.oldPassword" required/>
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" id="password" class="form-control" ng-model="vm.user.password" required/>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" required/>
            </div>
            <div class="form-group" >
                <button class="btn btn-primary" ng-click="vm.saveUser()" style="float:right">Save</button>
            </div>-->
            <div ng-repeat="field in fields" ng-if="field.name !='password'">
                <label for="{{field.name}}" style="text-transform: capitalize;">{{field.name}}:</label>
                <small ng-if="field.required"><i>*This field is required</i></small>

                <!--show date as label-->
                <p ng-show="showDate(field.type)" ng-model="aUsers[field.name]">{{aUsers[field.name]}}</p>

                <!--show textbox-->
                <input data="{{field.type}}" type="text" ng-show="showTextBox(field.type)" ng-model="aUsers[field.name]" class="form-control" ng-required=field.required>

                <!-- show email -->
                <input name="{{field.type}}" data="{{field.type}}" type="email" ng-show="showEmail(field.type)" ng-model="aUsers[field.name]" class="form-control" ng-required=field.required>

                <!-- show number -->
                <input name="{{field.type}}" data="{{field.type}}" type="text" ng-show="showNumber(field.type)" ng-model="aUsers[field.name]" class="form-control" ng-required=field.required>

                <!-- show password -->
                <input name="{{field.type}}" data="{{field.type}}" type="{{field.type=='password'?'password':'text';}}" ng-show="showPassword(field.type)" ng-model="aUsers[field.name]" class="form-control" ng-required=field.required>

                <!-- show confirm password -->
                <label ng-show="showPassword(field.type)" for=field.name>Confirm {{field.name}}: </label>
                <input name="{{'confirm '+field.type}}" data="{{field.type}}" type="{{field.type=='password'?'password':'text';}}" ng-show="showPassword(field.type)" ng-model="confirmPassword[field.name]" class="form-control">

                <!-- show text area -->
                <textarea data="{{field.type}}" ng-show="showTextArea(field.type)" ng-model="aUsers[field.name]" class="form-control" ng-required=field.required rows="4" cols="50"></textarea>

                <!-- show checkbox -->
                <div class="{{'checkBoxAdd '+field.name}}" name="{{'checkBoxInput '+field.type}}" ng-repeat="option in field.options" data="{{field.type}}" ng-show="showCheckBox(field.type)">
                    <input class="{{option}}" type="checkbox" name="{{option}}" ng-model="optionSelected" ng-checked="isChecked(field.name, option, field.type)" data="{{option}}" ng-click="pushToAUsers(field.name, option)">{{option}}<br>
                </div>

                <!-- show radio -->
                <div ng-repeat="option in field.options" data="{{field.type}}" ng-show="showRadio(field.type)">
                    <input class="{{option}}" type="radio" name="userRadioButton" ng-model="radioSelected" ng-change="putToModel(option, field.name)" value="{{option}}" ng-checked="isRadioSelected(field.name, option, field.type)">{{option}}<br>
                </div>

                <!-- show date -->
                <input data="{{field.type}}" type="date" ng-show="showDate(field.type)" ng-model="tempDate" ng-change="pushDateToAUsers(field.name, this.tempDate)" class="form-control addTicketDateInput" ng-required=field.required>

                <!-- show dropdown -->
                <select class="form-control" data="{{field.type}}" ng-show="showDropDown(field.type)" ng-model="aUsers[field.name]">
                    <option ng-repeat="option in field.options">{{option}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" class="form-control" ng-model="vm.user.oldPassword" required/>
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input name="password" type="password" id="password" class="form-control" ng-model="vm.user.password" required/>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input name="password" type="password" id="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" required/>
            </div>
            <div class="form-group" >
                <button class="btn btn-primary" ng-click="vm.saveUser()" style="float:right">Save</button>
            </div>
    </div>
</div>

</div>